# umum
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
RABBITMQ_URL=amqp://guest:guest@localhost:5672
# gateway
GATEWAY_PORT=3000
AUTH_HOST=localhost
AUTH_PORT=4001
ORDER_HOST=localhost
ORDER_PORT=4002
LOCATION_GRPC_URL=localhost:50051
# auth
AUTH_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/auth_db
# order
ORDER_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/order_db
FLAT_FEE=10000
SEARCH_RADIUS_M=3000
# location
LOCATION_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/location_db
DRIVER_STALE_SECONDS=60
